/* Required height of parents of the Full Page Carousel for proper displaying carousel itself */
html,
body,
.view {
	height: 100%;
}


.overlay .playWrapper {
	opacity: 0;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6) url("http://localhost/backend/public/img/template/play-button.png") no-repeat scroll center center / 80px 80px;

}

.overlay .playWrapper2 {
	opacity: 0;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6) url("http://localhost/backend/public/img/template/play-button.png") no-repeat scroll center center / 40px 40px;

}

.overlay:hover .playWrapper {
	opacity: 1;
}

.overlay:hover .playWrapper2 {
	opacity: 1;
}

.btn-gold {
	color: #fff;
	background-color: #F7941E !important;
}

.btn-blue {
	color: #fff;
	background-color: #0E47A1 !important;
}

/* Full Page Carousel itself*/
.carousel {
	height: 100%;
}

.carousel .carousel-inner {
	height: 100%;
}

.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
	height: 100%;
}

/* Navbar animation */
.navbar {
	background-color: rgba(0, 0, 0, 0.2);
}

.navbar-with-color {
	background-color: #0E47A1;
}

.top-nav-collapse {
	/*background-color: #1C2331;*/
	background-color: #0E47A1;
}

.error404 {
	color: #171442;
}

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
	.navbar {
		background-color: #0E47A1;
	}
}

/*=============================================
ESCRITORIO GRANDE (LG revisamos en 1366px en adelante)
=============================================*/

@media (min-width: 1200px) {

	.error404 {
		font-size: 300px;
		text-shadow: 8px 8px 1px #dadada;
	}

}


/*=============================================
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px)
=============================================*/

@media (max-width: 1199px) and (min-width: 992px) {

	.error404 {
		font-size: 200px;
		text-shadow: 6px 6px 1px #dadada;
	}

}

/*=============================================
ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
=============================================*/

@media (max-width: 991px) and (min-width: 768px) {

	.error404 {
		font-size: 150px;
		text-shadow: 4px 4px 1px #dadada;
	}

}

/*=============================================
MOVIL (XS revisamos en 320px)
=============================================*/

@media (max-width: 767px) {

	.error404 {
		font-size: 75px;
		text-shadow: 2px 2px 1px #dadada;
	}

}


/* Footer color for sake of consistency with Navbar */
.page-footer {
	background-color: #0E47A1;
	border-top: 4px solid #32146E;
}

